/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* design */
body{
    margin: 0 auto;
    padding: 0;
}
.header{
    height: 50px;
	background-color: MistyRose ;
	position: fixed;
    top:0px;
    left:0px;
    width:100%;
}
.header ul{
    float: left;
    margin-left: 50%;
}
.header ul li{
    float: right;
    font-size: 30px;
    color: gray;
    line-height: 50px;
}
.clear{
    clear: both;
}
.content{
	max-width: 1200px;
    min-width: 1000px;
	margin: auto;
	margin-top:50px;
}
.sidemenu{
	box-sizing: border-box;
	width: 20%;
	float: left;
	height:800px;
	border-right: 1px solid #C0C0C0;
}
.sidemenu li,li a{
	text-decoration: none;
	text-align: center;
	line-height: 80px;
	color: gray;
}
.sidemenu li a:hover{
	color:purple;
}
.menu{
	width: 80%;
	float: left;
	height:800px;
}
.footer{
	height: 50px;
	background-color: #C0C0C0;
}