/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* design */
body{
	background-color: #F5F5DC;
}
.wrap{
	margin: 0 auto;
	width: 100%;

}
/* 標題區塊 */
.topmenu{
    height: 50px;
	background-color: MistyRose ;
	min-width: 700px;
}
.topmenu ul{
	float: left;
	margin-left:40%;
}
.topmenu ul li{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 15px;
	border-right: 1px solid white;
}
.topmenu li a{
	text-decoration: none;
	color: gray;
	font-size: 20px;
}
/* 內容 */
.main{
	margin: auto;
	width:90%;
	opacity: 0.8;
	min-width: 700px;
}
 .sidemenu{
	box-sizing: border-box;
	width: 20%;
	float: left;
	border-right: 1px solid #DCDCDC;
}
.sidemenu li{
	text-decoration: none;
	text-align: center;
	color: gray;
	padding-top:60px;
}
.sidemenu li a{
	text-decoration: none;
	font-size: 20px;
	color: gray;
	border-bottom: 1px solid #DCDCDC;
}
.sidemenu li a:hover{
	color:purple;
}
.content{
	box-sizing: border-box;
	float: left;
	width: 80%;
}
.content h2{
	font-size: 20px;
	font-weight: 800;
	padding-top: 20px;
	margin-left: 25%;
}
.content li{
	font-weight: 800;
	padding-top: 40px;
	margin-left: 25%;
}
.content li a{
	text-decoration: none;
	border: 1px solid gray;
	border-radius: 5px;
	padding:10px;
	background-color:#FFE4B5;
	color:gray;
	
}
.content li a:hover{
	background-color: rgb(238, 144, 81);
	color: white;
}
.clear{
    clear: both;
}